html{
    font-family: Poppins;
    overflow-x: hidden;
}

h1{
    font-size: 32px;
    text-align: center;
}

header{
    background-color:#050579
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

nav ul{
    display: flex;
}

nav li{
    padding: 6px;
    margin: 0 10px;
    list-style: none;
    border: solid 2px black;
    color: white;
    background-color: black;
    font-weight: bolder;
    border-radius: 4em;
}

a{
    color: white;
    text-decoration: none;
}

section{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#contact-container{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

img{
    height: 100px;
    width: 100px;
    opacity: 1;
    transform: opacity 0.5s;
}

img:hover{
    cursor: pointer;
    opacity: 0.45;
    transform: opacity 0.1s;
}
