html{
    font-family: Poppins;
}

h3{
    font-size: 32px;
    text-align: center;
}


header{
    display: flex;
    justify-content: space-between;
    width: 95%;
}

nav{
    width: 25%;
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav li{
    padding: 0.5em;
    list-style: none;
    border: solid 2px #050579;
    color: white;
    background-color: #050579;
    font-weight: bolder;
    border-radius: 4em;
}

#about{
    background-image: url("./assets/screen-1315650_1280.png");
    height: 1100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #050579;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    display: flex;
}

#headshot{
    width: 300px;
    height: 300px;
    border: 1px solid;
    border-radius: 30px;
    margin-top: 150px;
}

#about p{
    width: 50%;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

#skills{
    text-align: center;
    height: 600px;
}

#skills-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}


#skills-container p{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.logo{
    height: 120px;
    width: 120px;
}

#projects{
    background-color: #050579;
    height: 1000px;
    color: white;
}
